<footer>
	<div class="container-fluid">
		<ul class="social-icons text-center">
			<li>
				<a id="email" href="" title="Email"><i class="fa fa-envelope envelope" aria-hidden="true"></i></a>
			</li>
      <li>
      	<a href="https://www.instagram.com/monsieurwei/" title="Instagram"><i class="fa fa-instagram instagram" aria-hidden="true"></i></a>
      </li>
      <li>
      	<a href="https://github.com/monsieurwei" title="GitHub"><i class="fa fa-github github" aria-hidden="true"></i></a>
      </li>
      <li>
      	<a href="https://www.linkedin.com/in/weiqiang-liu/" title="LinkedIn"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a>
      </li>
		</ul>
	</div>
	<div class="text-center copy">Weiqiang Liu &copy; 2017</div>
</footer>